{% extends 'base.html' %}
{% load static %}
{% block title %}
Course
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'course.css' %}">
{% endblock link %}

{% block content %}

<div></div>
<div id="division_1">
    <br><br>
    <h1 id="h1">We're not a <span>course <br>
            factory.</span></h1> <br><br>
    <p id="p1">We focus on courses that really help. </p>
    <br><br><br><br><br>
</div>
<div id="division_2">
    <h1 style="font-size: 30px;color: white;margin: 60px;">Courses which we do ⬇️</h1>
    <div class="cd" id="d1">
        <h1 class="d1h1"> Front-End domination:create any thing with code</h1>
        <br>
        <p class="p1">HINDI</p>
        <br><br><br><br>

        <span class="span">Limited Time Discount</span>
        <h1 class="h1">₹ 4999 <span style="color: gray;text-decoration: line-through;font-size: 20px;"> ₹ 9999</span>
        </h1>
    </div>
    <div class="cd" id="d2">
        <h1 class="d1h1"> Back-End domination:create efficient backend</h1>
        <br>
        <p class="p1">HInglish</p>
        <br><br><br><br>

        <span class="span">Limited Time Discount</span>
        <h1 class="h1">₹ 5999 <span style="color: gray;text-decoration: line-through;font-size: 20px;"> ₹ 9999</span>
        </h1>
    </div>
    <div class="cd" id="d3">
        <h1 class="d1h1"> Java & DSA Domination efficiency learning</h1>
        <br>
        <p class="p1">HIGLISH</p>
        <br><br><br><br>

        <span class="span">Limited Time Discount</span>
        <h1 class="h1">₹ 4999 <span style="color: gray;text-decoration: line-through;font-size: 20px;"> ₹ 9999</span>
        </h1>
    </div>
    <br><br><br><br>
    <button class="buttons">View Details</button>
    <button class="buttons">View Details</button>
    <button class="buttons">View Details</button>
    <div id="division_3">
        <h1 style="font-size: 30px;color: white;margin: 60px;">Courses which we do ⬇️</h1>
        <div class="cd" id="d4">
            <h1 class="d1h1"> .Node js a scripting language for better functionality</h1>
            <br>
            <p class="p1">HINDI</p>
            <br><br><br><br>

            <span class="span">Limited Time Discount</span>
            <h1 class="h1">₹ 4999 <span style="color: gray;text-decoration: line-through;font-size: 20px;"> ₹
                    9999</span>
            </h1>
        </div>
        <div class="cd" id="d5">
            <h1 class="d1h1"> Aptitude:general for cracking interviews</h1>
            <br>
            <p class="p1">HInglish</p>
            <br><br><br><br>

            <span class="span">Limited Time Discount</span>
            <h1 class="h1">₹ 5999 <span style="color: gray;text-decoration: line-through;font-size: 20px;"> ₹
                    9999</span>
            </h1>
        </div>
        <br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <button class="buttons">View Details</button>
        <button class="buttons">View Details</button>
    </div>


</div>

</div>

{% endblock content %}