    #container1 {
        height: 2000px;
        background-color: black;
    }

    #div1,
    #div2 {
        width: 45%;
        height: 500px;
        background-color: black;
        float: left;
        margin-left: 20px;
    }

    #div2 {
        width: 50%;
        background-color: rgb(4, 0, 7);
    }

    #h1 {
        font-size: 60px;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .p1 {
        width: fit-content;
        background-color: rgb(81, 79, 79);
        margin-left: 20px;
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        border-radius: 5px;
        color: white;
    }

    #pre1 {
        font-size: 45px;
        color: white;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #s1 {
        color: rgb(16, 229, 158);
        font-size: 30px;
    }

    #s2 {
        font-size: 20px;
    }

    #button {
        width: 300px;
        height: 50px;
        background-color: rgb(34, 218, 156);
        color: white;
        font-size: 30px;
    }

    #iframe {
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    #outer_division_heading {
        background-color: rgb(155, 127, 255);
    }

    .o_para {
        font-size: 50px;
        color: white;
    }