#pre1 {
    font-size: 80px;
    color: white;
    text-align: center;
}

span {
    color: aquamarine;
}

#div2 {
    text-align: right;
    margin-right: 250px;
    font-size: 15px;
    color: white;

}